.mainPanel {

}

.mainPanelContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.addTaskForm, .listTask {
    
}

.listTask {
    min-height: 91px;
}

.addTaskForm {
    form {
        display: flex;
        gap: 10px;
    }
    display: flex;
    justify-content: space-between;
    input {
        width: 300px;
        padding: 15px;
        border-radius: 10px;
        background-color: #333333;
        color: #fff;
    }
    button {
        width: 150px;
        padding: 15px;
        border-radius: 10px;
    }
}