.taskItem {

}

.taskItemContainer {
    border: 2px solid #5b0a94;
    border-radius: 10px;
    padding: 40px 20px;
    margin-bottom: 10px;
    width: 1600px;
    display: flex;
    justify-content: space-between;
}

.taskButtons {
    display: flex;
    gap: 10px;
}

.buttons {
    p {
        padding: 10px 20px;
        border: 2px solid #5b0a94;
        border-radius: 10px;
        cursor: pointer;
    }
}